<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<style>
h1,h2,h3,h4,h5,h6,form {
  font-family: "Oswald";
  text-align:center;
}
body {font-family: "Open Sans"}
.bgimg{
  background-image: url('/static/abc.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

      <h1 class="w3-text-white" style="text-align: center">
        Your item is:<br>
        <h4 class="w3-text-white">Category :<em><%=category%></em></h4>
        <h4 class="w3-text-white">Price :<em><%=price%></em></h4>
        <h4 class="w3-text-white">length :<p id="l"><%=length%></p></h4>
        <h4 class="w3-text-white">breadth :<p id="b"><%=breadth%></p></h4>
       <h4 class="w3-text-white">height :<p id="h"><%=height%></p></h4>
      </h1>
      <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>Delivery Options</b></h1>
      <form method="post" action="/nearby">
       <select name="delivery" id="delivery">
       <option value="locker">Locker</option>
       <option value="Cod">Cash on delivery</option>
       </select>
       <br>
       <input type="hidden" name="email" value="<%=email%>" disabled="disabled">
       <input type="hidden" name="email" value="<%=email%>">

       <input type="hidden" name="price" value="<%=price%>" disabled="disabled">
       <input type="hidden" name="price" value="<%=price%>">

       <input type="hidden" name="id" value="<%=id%>" disabled="disabled">
       <input type="hidden" name="id" value="<%=id%>">
       
       <h4 class="w3-text-white">Give location of delivery:</h4><br>
       <input type="text" name="address">
       <input type="hidden" name="islocker" id="islocker" value="0">
       <input type="hidden" id="latitude" name="latitude">
       <input type="hidden" id="longitude" name="longitude">
       <br><br>
       <button onclick="myfunc()" style="font-size:20px;width: 100px">Select</button>
     </form>
    </div>

</body>
<script  type="text/javascript">
  function myfunc()
  {

      var l=document.getElementById("l").textContent;
      var b=document.getElementById("b").textContent;
      var h=document.getElementById("h").textContent;
      var x = document.getElementById("delivery").value;
      var flag=0;
      if(l<10||b<10||h<10)
        flag=1;
    
      if(flag==1&&x=='locker')
      {
        alert("item is not fit for locker");
        document.getElementById("islocker").value='1';
      }
    
  }
</script>
</html>
