<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {
  font-family: "Raleway", sans-serif
}
body{
  background-color:black;

}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/abc.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>

<body >
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">

    <form method="post" action="/discount">
     Enter the coupon code:<br>
     <input type="hidden" name="email" value="<%=email%>">
       <input type="text" id="ccode" name="usercode" required="true">
       <input type="hidden" id="code" name="code" value="<%=code%>">
       <input type="hidden" id="discount" name="discount" value="<%=discount%>">
       <input type="hidden" id="price" name="price" value="<%=price%>">
       <input type="hidden" id="expiry" name="expiry" value="<%=expiry%>">
       <input type="hidden" id="used" name="used" value="<%=used%>">
       <button type="Submit">Submit</button>
   </form>
  </div>
  
</body>
<script>
  
 function myfunc()
 {
  var c=document.getElementById("ccode").value;
  alert(c);
  var code=document.getElementById("code").value;
  var type=document.getElementById("type").value;
  var price=document.getElementById("price").value;
  if(c!=code)
  {
    alert("wrong code");    
  }
  else{
    if(type==1)
    {
      var p=price/10;
      price=price-p;
      alert("10%discount " +"now,price is  "+price);
    }
    if(type==2)
    {
      var p=price/5;
      price=price-p;
      alert("20%discount " +"now,price is  "+price);
    }
    if(type==3)
    {
      var p=price/3.33;
      price=price-p;
      alert("30%discount " +"now,price is  "+price);
    }
  }
  
 }
</script>
</html>
